<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/navbar.css">
</head>
<body>
  <div class="navbar">
    <div class="first">
      <a class="home" id="nav" href="/home">Homepage</a>
      <a class="tier" id="nav" href="/tierlist">Tierlist</a>
      <a class="champ" id="nav" href="/champions">Champions</a>
      <a class="team" id="nav" href="/teambuilder">Teambuilder</th>
    </div>
  
    <div class="second">
      <a class="login" id="nav" href="/login">Bejelentkezés</a>
      <a class="reg" href="/register">Regisztrálás</a>
    </div>
  </div>
</body>
</html>