<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="css/navbarstyle.css" />
  <script src="../frontend/javascript/index.js"></script>
  <title>Main Page</title>
</head>
<body>
  <style>
    #keszitok {
    
      
      
      text-align: center;
    }
    </style>
    <table id="navbar">
        <tr>
          <th>navbar 1</th>
          <th>navbar 2</th>
          <th>navbar 3</th>
          <th>navbar 4</th>
        </tr>
      </table>
      <table id="keszitotabla">
        <tr>
          <th id="keszitok">Készítők</th>
          
                </tr>
        <tr>
<th id="nandi">Németh "AnGoalNa" Nándor</th>
<th><img src="tommy.jpg"width = "150" height = "150"></th>
      </tr>
      <tr>
        <th id="luki">Lukács "Per0ken" Péter</th>
        <th><img src="teemo.jpg"width = "150" height = "150"></th>
      </tr>
      <tr>
        <th id="Miki">Lockár "DarkMiclos" Miklós</th>
        <th><img src="naruto.jpg"width = "150" height = "150"></th>
        
      </tr>
      <tr>
        <th id="sarbak">Sarbak "Faresu" Márkó</th>
        <th><img src="draven.jpg"width = "150" height = "150"></th>
      </tr>
      </table>
</body>

</html>